.form {
  /* margin: 20px; */
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
  cursor: pointer;
  color: #333;
  font-weight: bold;
}

.form input[type="text"],
.form input[type="radio"] {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
}

.form input[type="radio"] {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.form img {
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.form button[type="submit"] {
  display: block;
  margin: 0 auto;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.form button[type="submit"]:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.form button[type="submit"]:active {
  transform: scale(0.95);
}
